* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0e0e0e;
  font-family: Arial, sans-serif;
  padding: 2em;
}

.circle {
  width: 3rem;
  height: 3rem;
  background-color: #333333;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.circleSmall {
  width: 3rem;
  height: 3rem;
  background-color: #333333;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.line-title {
  font-size: 2em;
  color: white;
}

#time {
  font-size: 4em;
  color: rgb(255, 239, 210);
  margin-bottom: 1rem;
}

button {
  border: none;
  padding: 0.5em 1em;
  margin-right: 0.5rem;
  color: rgb(255, 239, 210);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #474747;
  cursor: pointer;
}

.key-error {
  color: rgb(220, 140, 140);
  font-family: monospace;
  font-weight: bold;
  margin-top: 1em;
  font-size: 2em;
}

.flexbox-nomargin {
  display: flex;
  align-items: center;
}

.flexbox {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  color: white;
  font-size: 2em;
  margin-right: 1rem;
}

#stop-input {
  background-color: unset;
  color: #9c9c9c;
  font-size: 2em;
  width: 5ch;
  padding: 0 0.25rem;
  margin-right: 1rem;
  border: unset;
  border-bottom: 0.25rem solid white;
}

#all-arrivals {
  display: flex;
  flex-wrap: wrap;
  min-height: 23rem;
}

.line-container {
  margin-right: 1em;
}

.imminent {
  color: rgb(255, 239, 210);
}

.arrival-container {
  display: flex;
  color: white;
  background-color: #1e1e1e;
  margin: 1em 0;
  padding: 1em;
  flex-direction: column;
}
.arrival-info-container {
  display: flex;
  align-items: center;
}
.arrival-id {
  color: #ababab;
}
.arrival-in {
  font-weight: bold;
  font-size: 3em;
  width: 5em;
}
.arrival-at {
  padding-left: 1em;
  font-size: 1.5em;
  color: #bfbfbf;
}

#api-key-form {
  margin-bottom: 1em;
}

#api-key-input {
  border: inherit;
  background-color: transparent;
  color: white;
}

.hidden {
  display: none;
}
